
    {% extends "base.html" %}
    
    {% block title %}Tourbell{% endblock %}
    
    {% load staticfiles %}
    {% block content %}
    <div id="content">
       <ul>
       <h2>구름 많음<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>
       <h2>맑음<h2>
       <h2>맑음<h2>
       <h2>맑음<h2>
       <h2>맑음<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>
       <h2>구름 조금<h2>

       </ul>
    </div>
    {% endblock content %}
    